{% extends "layout.html"%}

    {% block content %}

    <form method="POST" action="/predict" id="myForm">
        <div class="ui input">
            <input type="number" step = "any" min = "0" placeholder="sepal length (cm)" name="SL" value = {{SL}}><br>
            <input type="number" step = "any" min = "0" placeholder="sepal width (cm)" name="SW" value = {{SW}}><br>
            <input type="number" step = "any" min = "0" placeholder="petal length (cm)" name="PL" value = {{PL}}><br>
            <input type="number" step = "any" min = "0" placeholder="petal width (cm)" name="PW" value = {{PL}}><br>
        </div>
        <button class="ui button" value="Predict">Predict</button>
        <div class="ui label">
            Result: {{ prediction }}
        </div>

      </form>



    {%endblock%}